# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# Firebase Configuration
VITE_FIREBASE_API_KEY="AIzaSyDuq7jYQcKDKY3UWNxQwP51fKRwjCERuvo"
VITE_FIREBASE_AUTH_DOMAIN="wakefield-central-mosque.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="wakefield-central-mosque"
VITE_FIREBASE_STORAGE_BUCKET="wakefield-central-mosque.appspot.com"
VITE_FIREBASE_MESSAGING_SENDER_ID="998395111777"
VITE_FIREBASE_APP_ID="1:998395111777:web:5492302e7279822d5cbd20"
VITE_FIREBASE_MEASUREMENT_ID="G-NXER4ENDE0"
